name: "native-build-test"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  native-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Set up Graal JDK 21
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'      # See 'Options' section below for all supported versions
          distribution: 'graalvm' # See 'Options' section below for all available distributions
          version: '21.0.2'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: 'maven'

      # 我对native构建的要求是不报错就行
      - name: Build with Maven with native env
        run: mvn -Dmaven.test.skip=true -T 2C -Pnative clean package

      - name: 传输构建结果到服务器1
        run: >
          sshpass -p ${{secrets.REMOTE_PWD}} 
          scp -r -o StrictHostKeyChecking=no build/*.tar.gz 
          root@${{secrets.REMOTE_IP}}:/root/arktouros

      - name: 写pem到临时文件
        run: echo "${{secrets.REMOTE_KEY}}" > private_key.pem && chmod 600 private_key.pem

      - name: 传输构建结果到服务器2
        run: >
          scp -i private_key.pem -r -o StrictHostKeyChecking=no 
          build/*.tar.gz root@${{secrets.REMOTE_IP_1}}:/root/arktouros

